.wrapper {
	width: 100%;
	min-height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.container_first {
	width: 100%; 
	font-family:  'Trebuchet MS', sans-serif;
	font-size: 15px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media all and (max-width: 1037px) {
	.container_first {
		flex-direction: column;
		justify-content: center;
	}
}

.container_first--item {
	width: 21%;
	text-align: left;
	line-height: 1.4rem; 
	word-break: break-all;
	padding: 15px;
	margin: 30px 15px;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .20);
}

.hide-country{
	display: none;
}

.wrapper-img {
	width: 70%;
	height: 100px;
	margin: 15px;
}

.wrapper-img img {
	width: 100%;
	height: 100%;
}

h2.name-font {
	font-family: 'Poppins', sans-serif;
	/* padding-bottom: 10px; */
}

@media all and (max-width: 1037px) {
	.container_first--item {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 85%;
		margin: 50px auto;
	}

	.wrapper-img {
		width: 100%;
		height: 100%;
	}

	.wrapper-text {
		width: 100%;
		font-size: 2rem;
		line-height: 3.5rem;
		padding: 25px; 
	}

	.name-font{
		display: none;
	}

	.hide-country{
		display: block;
	}
}

/*============================= Search Bar ===========================*/
.form {
	display: flex;
	justify-content: center;
	width: 100%;
}

.form_title {
	margin-bottom: 15px;
	font-size: 25px;
}

.search {
	position: relative;
	width: 80%;
	margin: 30px auto;
	margin-top: 0px;
	background: #fff;
}

input[type=search],
select {
	font-size: 20px;
	width: 100%;
	padding: 19px;
	resize: vertical;
	border: 2px solid #000;
	outline: none;
	transition: all .4s;
}

input[type=search]:hover,
input[type=search]:focus {
	background-color: #00bfff;
	border: 2px solid #fff;
}


input::placeholder {
	padding: 10px;
	font-size: 16px;
	font-family: 'Trebuchet MS';
	text-align: center;
	background-image: url(./search-solid.svg);
	background-position: 1% 50%;
	background-repeat: no-repeat;
	background-size: 3%;
}


.weather_details {
	width: 100%;
	border: 2px solid;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: none;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgb(59, 62, 65), 0 1px 2px rgba(0, 0, 0, .23);
	transition: background-image 0.3s ease;
}


.weather-wrapper_content {
	width: 15%;
	padding: 10px;
	margin: 5px 0px 5px 0px;
	border-radius: 20px;
	border-top: 3px rgb(173, 175, 70) outset;
	border-bottom: 3px rgb(251, 255, 18) outset;
	text-align: center;
	/* box-shadow: 0 3px 6px rgb(59, 62, 65), 0 1px 2px rgba(0, 0, 0, .23);  */
	/* background-color: rgba(225, 225, 225, 0.2); */
}


.avatar {
	width: 75px;
}

.temperature_wrapper {
	display: flex;
	flex-direction: column;
}


/*================Buttons==============*/

.btn {
	position: absolute;
	bottom: 1.9px;
    right: 1px;
	border: none;
	display: block;
	border-left: 2px solid #fff;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	padding: 19px;
	text-decoration: none;
	outline: none;
	background-color: #00bfff;
	/* background-color: #eeefee; */
	transition: all .5s;
	transform: scale(1);
}

.btn:hover {
	background-color: #80deea;
	transform: scale(1.1);
	border-left: none;
}

.btn:focus {
	background-color: #80deea;
}

.hidecountry {
	display: none;
}


/*============================= Banner ===========================*/

.banner-section{
	background-color: #00bfff;
	box-shadow: 0 3px 6px rgb(59, 62, 65), 0 1px 2px rgba(0, 0, 0, .23);
}

.banner-wrapper{
	background-color: #00bfff;
}

.banner {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding-top: 10px;
}

.banner_text {
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 55px;
}


/*============================= Social Media ===========================*/

.media-image {
	width: 40px;
}

.icon_group {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.twitter,
.facebook,
.vimeo,
.linkedin,
.github,
.pinterest {
	transition: all .4s;
	padding-left: 20px;
}

.twitter {
	padding-left: 0px;
}

.twitter:hover,
.facebook:hover,
.vimeo:hover,
.linkedin:hover,
.github:hover,
.pinterest:hover {
	transform: scale(1.2);
}

.normal {
	text-align: center;
	background: #f9f9ff;
}


/*
==== spinnerFull ====
*/
.spin-position {
	background: rgb(136, 177, 201);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spin {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	color: rgb(9, 37, 9);
}

.spin-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 8px solid transparent;
	mix-blend-mode: overlay;
}

.spin-text {
	animation: loading-opacity 3s ease-in-out infinite;
	font-size: 1em;
}

.spin-sector-first {
	animation: rotates 2s ease-in infinite;
	border-top: 10px solid #F93822FF;
}

.spin-sector-second {
	animation: rotates 2.5s ease-in-out infinite;
	border-bottom: 10px solid rgb(238, 217, 126);
}

.spin-sector-third {
	animation: rotates 1.5s ease-in-out infinite;
	border-top: 10px solid #006B38FF;
}

@keyframes rotates {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes loading-opacity {
	0%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: .5;
	}
	50% {
		opacity: .1;
	}
}

/*
==== spinner ===
*/

.spinner-position {
	display: flex;
	justify-content: center;
}

.spinner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
}

.spinner-sector {
	border-radius: 50%;
	position: absolute;
	width: 50%;
	height: 50%;
	border: 1px solid transparent;
	mix-blend-mode: overlay;
}

.spinner-text {
	animation: loading-opacity 3s ease-in-out infinite;
	font-size: 0.5em;
}

.spinner-sector-blue {
	animation: rotates 2s ease-out infinite;
	border-top: 8px solid #1b2945;
}

.spinner-sector-orange {
	animation: rotates 2.5s ease-in infinite;
	border-bottom: 8px solid #fd7e14;
}

.spinner-sector-lightblue {
	animation: rotates 1.5s ease-in-out infinite;
	border-top: 8px solid rgba(27, 41, 69, 0.75);
}

@keyframes rotates {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes loading-opacity {
	0%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: .5;
	}
	50% {
		opacity: .1;
	}
}


